$primary: #0a3568;;
$secondary: #7283a3;
$tertiary: #1b459c;
$text: #40464e;
$link: #1b459c;
$hover: #26A9DF;
$font: 'Arimo', sans-serif;
$font2: 'Raleway', sans-serif;
$facebook: #4d70a8;
$google: #dc4e41;
$yelp: #b62717;
$youtube: #d00;
$instagram: #133c58;
$twitter: #00aced;
$healthcare: #0202ea;